* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;




}

body {
    background: #3494E6;
    background: -webkit-linear-gradient(to right, #f5b6d5, #a1c9ec);
    background: linear-gradient(to right, #f5b6d5, #a1c9ec);
    background-attachment: fixed;


}

.header__logo__marca {
    margin-top: -6%;
    text-align: center;
}
.hr {
    margin-top: -5%;
}
.header__nav {
    margin-top: -1%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 19px;
}
.header__nav a {
    text-decoration: none;
    margin-bottom: 1%;
    padding: 0px 30px 0px 0px;
}
.header__nav li {
    font-weight: 600;
    color: #020202;
    color: -webkit-linear-gradient(to right, #232128, #8E2DE2);
    color: linear-gradient(to right, #2e2839, #8E2DE2);
    text-shadow: 1px 1px 0 #f0f1f3;
}
.header__nav li:hover {
    scale: 1.1;
    background-color: #4e0092;
    color: whitesmoke;
    opacity: 0.7;
}

/* Seccion media */

.portada__mujer__hombre {
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

/* PARA ELLAS */
.para__ellas {
    position: relative;



}

.para__ellas p {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 40px;
    color: whitesmoke;
    background-color: rgb(10, 10, 10, 0.5);
    font-weight: 600;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
}
.para__ellas p:hover {
    background-color: #4e0092;
    background-position: 300px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.5s;
    transition-property: all;
    transition-duration: 0s;

}


/* PARA ELLOS */
.para__ellos {
    position: relative;


}
.para__ellos p {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 40px;
    color: whitesmoke;
    background-color: rgb(10, 10, 10, 0.5);
    font-weight: 600;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;

}
.para__ellos p:hover {
    background-color: #4e0092;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.5s;
    transition-property: all;
    transition-duration: 0s;
}


/* BANNER INFERIOR */

.banner__inferior {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10%;
    width: 100%;
    height: 165px;
    background: #3494E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7db7eb, #f895c6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7db7eb, #f895c6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.descuento__seguinos {
    text-align: center;
    cursor: pointer;
    color: black;
    font-weight: 600;

}
.descuento__seguinos h4 {
    color: black;
    font-weight: 600;
    padding: 5px 0px 0px 0px;
}
.descuento__seguinos p {
    font-size: 16px;
    font-weight: 600;
}

/* LO MAS VENDIDO */
.titulo__lo__mas__vendido {
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
    color: black;
    font-size: 40px;
    text-shadow: 2px 2px 0 #da17ca;

}
.lo__mas__vendido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lo__mas__vendido p {
    margin-top: 5%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: black;

}



/* FOOTER */
footer {
    margin-top: 5% ;
    width: 100%;
    height: auto;
    color: whitesmoke;
    background: #898694;
    background: -webkit-linear-gradient(to right, #c2bd9b, #272530);
    background: linear-gradient(to right, #b6ae76, #3c374b);

}
.footer__grupo {
    display: flex;
    justify-content: space-around;
    padding: 7px 0px 0px 0px;
}
.footer__titulo {
    text-align: center;
}
.nosotros li {
    list-style-type: none;
    cursor: pointer;
}
.seguinos a {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 5px;
}

/* PAGINA HOMBRE */

/* REMERAS */
.remeras__lisas__titulo {
    text-align: center;
    margin-top: 3%;
    color: #131313;
    font-size: 40px;
    text-shadow: 2px 2px 0 #da17ca;
    font-weight: 600;
}
.remeras__lisas__hombre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.remera__descripcion__hombre {
    border-radius: 10px;
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 3%;
    text-align: center;
}
.remera__descripcion__hombre p {
    margin-top: 2px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    color: whitesmoke;

}


/* SHORT HOMBRE */
.short__hombre__titulo {
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
    text-shadow: 2px 2px 0 #da17ca;
    font-weight: 600;
}
.short_de_hombre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -3%;
}
.short__hombre__descripcion {
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 7%;
    text-align: center;
    border-radius: 10px;

}
.short__hombre__descripcion p {
    margin-top: 2px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    color: whitesmoke;

}


/* BUZOS */
.buzo__capucha__titulo{
    font-weight: 600;
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
    text-shadow: 2px 2px 0 #da17ca; 
}
.buzos__hombre{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 250px 250px;
    gap: 10px 10px;
    grid-template-areas:
        "caja1 caja2 caja3"
        "caja1 caja4 caja5";
}
.caja1 {
    background-color: #b6ae76;
    grid-area: caja1;
}
.caja2 {
    background-color: #b6ae76;
}
.caja3 {
    background-color: #b6ae76;
}
.caja4 {
    background-color: #b6ae76;
}
.caja5 {
    background-color: #b6ae76;
}


/* PAGINA MUJER */
.remeras__lisas__titulo {
    text-align: center;
    margin-top: 3%;
    color: #131313;
    font-size: 40px;
    text-shadow: 2px 2px 0 #da17ca;
    font-weight: 600;
}
.remeras__lisas__mujer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.remera__descripcion__mujer {
    border-radius: 10px;
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 3%;
    text-align: center;
}
.remera__descripcion__mujer p {
    margin-top: 2px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    color: whitesmoke;

}


/* SHORT MUJER */
.short__mujer__titulo {
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
    text-shadow: 2px 2px 0 #da17ca;
    font-weight: 600;
}
.short_de_mujer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -3%;
}
.short__mujer__descripcion {
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 7%;
    text-align: center;
    border-radius: 10px;

}
.short__mujer__descripcion p {
    margin-top: 2px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    color: whitesmoke;

}
/* CALZAS DE MUJER */
.calza__de__mujer {
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 0 #da17ca;
    font-weight: 600;
}
.calzas {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 250px 250px;
    gap: 10px 10px;
    grid-template-areas:
        "caja1 caja2 caja3"
        "caja1 caja4 caja5";
}
.caja1 {
    grid-area: caja1;
    border-radius: 10px;
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 3%;
}
.caja2 {
    border-radius: 10px;
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 3%;
}
.caja3 {
    border-radius: 10px;
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 3%;
}
.caja4 {
    border-radius: 10px;
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 3%;
}
.caja5 {
    border-radius: 10px;
    background-color: rgb(146, 146, 146, 0.7);
    margin-top: 3%;
}









/* MOBILE */

@media (min-width: 399px) and (max-width:600px) {

    .header__nav {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /* PORTADA PARA ELLES */
    .portada__mujer__hombre {
        justify-content: space-between;
    }
    .para__ellas p {
        left: 15px;
        font-size: 25px;
    }
    .para__ellos p {
        left: 15px;
        font-size: 25px;
    }
    /* BANNER DESCUENTOS */
    .banner__inferior {
        margin-top: 15%;
    }
    .banner__inferior img {
        width: 35px;
        height: 35px;

    }
    .remera__descripcion__mujer {
        margin-top: 15%;
    }
    /* REMERA HOMBRES */
    .remera__descripcion__hombre{
        margin: 15% 0px 10px 0px;
    }
    /* SHORT HOMBRE */
    .short__hombre__titulo{
        margin-top: 15% ;
    }
    .short__hombre__descripcion{
        margin: 10% 0px 10px 0px;

    }
    /* LO MAS VENDIDO */
    .titulo__lo__mas__vendido{
        margin-top:10% ;
    }
    .short__calza_hombre{
        border: 1px solid black;
        background-color: rgb(146, 146, 146, 0.7);

    }
    .short__calza__mujer{
        border: 1px solid black;
        background-color: rgb(146, 146, 146, 0.7);
    }
    .remera__hombre{
        margin-top: 15%;
        border: 1px solid black;
        background-color: rgb(146, 146, 146, 0.7);
    }
    .remera__mujer {
        margin-top: 15%;
        border: 1px solid black;
        background-color: rgb(146, 146, 146, 0.7);
    }



   
    
    /* PAGINA MUJER SHORT */
    .short__mujer__titulo {
        margin-top: 15%;
    }
    .short__mujer__descripcion {
        margin-top: 10%;
    }
    /* PAGINA MUJER CALZAS */
    .calza__de__mujer {
        margin-top: 10%;
        text-align: center;
    }
    
    /* FOOTER PIE DE PAGINA */
    footer {
        margin-top: 22%;
    }
}
   